*{
    margin-top: 0em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 10px;
}
img{
    
    width: 30%;
    height: 30%;
    float: left;
    margin: 1.66%;

}
h1{
    font-family: 'Bree Serif', serif;
    color: rgb(7, 94, 121);
    font-size: 40px;
    text-align: center;
}
nav{
    background-color: rgb(235, 193, 224);
    padding: 0.5%;
}
#search{
    float: right;
}
body{
    background-color: rgb(93, 122, 108);
}